@charset "UTF-8";

body {
	 -ms-overflow-style: none;
	 overflow: auto;
}

#section1 img {
	width: 100%;
	margin-bottom: 10px;
}

.section2 {
	height: 100vh;
}

.section2 .sloganWrap {
	position: absolute;
	top: 46%;
	left: 50%;
	margin: auto;
	transform: translateX(-50%);
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	z-index: 30;
	overflow: hidden;
	pointer-events: none;
}

.section2 .sloganWrap h5 {
	font-family: "Quicksand", snas-serif;
	font-size: 500px;
	font-weight: 900;
	font-style: normal;
	line-height: 60px;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
	text-shadow: rgba(0,0,0,0.5) 0px 2px 6px;
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin: 0px 0px 18px 0px;
}

.section2 .sloganWrap h6 {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: normal;
	line-height: 36px;
	letter-spacing: 4px;
	color: rgba(255,255,255,1);
	text-shadow: rgba(0,0,0,0.5) 0px 2px 6px;
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin: 0;
}

@media (max-width: 1400px) {
	.section2 {
		height: 70vh;
	}
	.section2 .sloganWrap h5 {
		font-size: 54px;
		line-height: 54px;
	}
}
@media (max-width: 820px) {
	.section2 {
		height: auto;
		padding-top: 56.25%;
	}
	.section2 .sloganWrap {
		display: none;
	}
}

.roomList_wrap {
	position: relative;
	padding: 0 70px;
	font-size: 14px;
}
.roomList_wrap .swiper-container {
	position: static;
}
.roomList_wrap .swiper-container .swiper-pagination {
	position: relative;
	margin-top: 40px;
}
.roomList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet {
	margin: 0 7px;
	width: 9px;
	height: 9px;
	border-radius: 30px;
	background: #ccc;
	transition: width 0.5s;
	opacity: 1;
}
.roomList_wrap .swiper-container .swiper-pagination .swiper-pagination-bullet .swiper-pagination-buller-active {
	width: 46px;
	background: #ccc;
}
.roomList_wrap .swiper-container .swiper-button-prev {
	width: 80px;
	height: 80px;
	top: 26%;
	left: 0;
	background: url('https://ogae-dev.s3.ap-northeast-2.amazonaws.com/main/carousel/arrow-left-small.png') center center no-repeat;
	background-size: cover;
	transition: opacity 0.5s;
}
.roomList_wrap .swiper-container .swiper-button-prev:hover {
	opacity: 0.5;
}
.roomList_wrap .swiper-container .swiper-button-next {
	width: 80px;
	height: 80px;
	top: 26%;
	right: 0;
	background: url('https://ogae-dev.s3.ap-northeast-2.amazonaws.com/main/carousel/arrow-right-small.png') center center no-repeat;
	background-size: cover;
	transition: opacity 0.5s;
}
.roomList_wrap .swiper-container .swiper-button-next:hover {
	opacity: 0.5;
}
.roomList_wrap a {
	display: inline-block;
	text-align: center;
}
.roomList_wrap a .imgWrap {
	position: relative;
	overflow: hidden;
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.roomList_wrap a .imgWrap .loader {
	width: 100%;
	padding-bottom: 56.25%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 0.3s ease-in-out;
}
.roomList_wrap a:hover .imgWrap .loader {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.roomList_wrap a .eng {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 18px;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
	letter-spacing: 0px;
	color: rgba(79,99,140,1);
	text-shadow: none;
	background-color: rgba(0,0,0,0);
	padding: 20px 0px 0px 0px;
	margin: 0;
	border-radius: 0px;
	background-image: 0px;
	box-shadow: 0px;
	border-radius: 0;
}
.roomList_wrap a .txt {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 15px;
	font-weight: 700;
	font-style: normal;
	line-height: 27px;
	letter-spacing: 0.7px;
	color: rgba(119,119,119,1);
	text-shadow: none;
	padding: 14px 0px 0px 0px;
	margin: 0px;
}
.roomList_wrap a .detailview {
	display: inline-block;
	width: 160px;
	height: 40px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	line-height: 40px;
	letter-spacing: 0px;
	color: rgba(242,136,75,1);
	text-shadow: none;
	background-color: rgba(242,136,75,0);
	padding: 0;
	margin: 0;
	border: 0px none #f2884b;
	border-radius: 0px;
	background-image: 0px;	
	border: 0px none #f2884b;
	border-radius: 0px;
	transition: background-color 0.5s;
}
.roomList_wrap a .detailview:hover {
	color: rgba(79,99,140,1);
}
.roomList_wrap a .detailview:hover i {
	color: rgba(79,99,140,1);
}
.roomList_wrap a .detailview i {
	margin-left: 7px;
}

@media (max-width:820px) {

	.roomList_wrap {
		padding: 0;
	}
	.roomList_wrap .swiper-container .swiper-slide {
		width:300px;
	}
	.roomList_wrap a .detailview,
	.roomList_wrap .swiper-container .swiper-button-next,
	.roomList_wrap .swiper-container .swiper-button-prev {
		display:none;
	}
	.roomList_wrap a {
		border:1px solid #ddd;
	}
	.roomList_wrap a .eng {
		padding:15px 0 11px;
	}
	.roomList_wrap a .txt {
		padding:0 0 11px 0;
	}
	.roomList_wrap .swiper-container .swiper-pagination {
		display:none;
	}

	.roomList_wrap .swiper-slide:first-child {
		margin-left:10px;
	}
	.room_title h3 {
		font-size:30px !important;
	}
		
	.room_title p {
		font-size:16px !important;
	}
}
	
.section3 {
	padding: 160px 260px;
}

.room_title h3 {
	font-size: 30px !important;
}

.room_title p {
	font-size: 16px !important;
}

.room_title {
	padding-bottom: 30px;
	text-align: center;
}

.room_title h3 {
	font-family: "Quicksand", sans-serif;
	font-size: 44px;
	font-weight: 700;
	font-style: normal;
	line-height: 27px;
	letter-spacing: 0px;
	color: rgba(79,99,140,1);
	text-shadow: none;
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin: 0;
}

.room_title p {
	font-family: "Noto Sans KR", sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 16px;
	letter-spacing: 0px;
	color: rgba(136,136,136,1);
	text-shadow: none;
	background-color: rgba(0,0,0,0);
	padding: 0;
	margin: 32px 0px 32px 0px;
}

.room_title a {
	display: inline-block;
	width: 200px;
	height: 50px;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	font-style: normal;
	line-height: 48px;
	letter-spacing: 0px;
	color: rgba(242,136,75,1);
	text-shadow: none;
	background-color: rgba(242,136,75,0);
	padding: 0;
	margin: 0;
	border: 2px solid #f2884b;
	border-radius: 60px;
	background-image: 60px;
	box-shadow: 60px;
	border: 2px solid #f2884b;
	border-radius: 60px;
	transition: background-color 0.5s;
}
.room_title a:hover {
	background-color: rgba(242,136,75,1);
	color: #fff;
}
.fa-chevron-right {
	color: rgba(242,136,75,1);
}
.room_title a:hover .fa-chevron-right {
	color: #fff;
}
.room_title a i {
	margin-left: 7px;
}

#section5 img {
	width: 100%;
	margin-top: 100px;
	margin-bottom: 10px;
}

@media (max-width: 1400px) {
	.section3 {
		padding: 60px 0;	
	}
}

@media (max-witdh:820px) {
	#section1 .w_lay {
		display: none;
	}
	#section6 img:nth-child(2) {
		display: block;
	}
}